In [8]:
import pandas as pd 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
# to visualize all the columns in the dataframe
pd.pandas.set_option('display.max_columns',None)

In [9]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\pbann\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\pbann\anaconda3\lib\site-packages (from seaborn) (3.4.3)
Requirement already satisfied: pandas>=0.23 in c:\users\pbann\anaconda3\lib\site-packages (from seaborn) (1.4.1)
Requirement already satisfied: numpy>=1.15 in c:\users\pbann\anaconda3\lib\site-packages (from seaborn) (1.21.6)
Requirement already satisfied: scipy>=1.0 in c:\users\pbann\anaconda3\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pbann\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\pbann\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\pbann\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\pbann\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\pbann\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: six in c:\users\pbann\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pbann\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)

In [13]:
final_df=pd.read_excel(r'C:/Users/pbann/Downloads/archive/Data_Train.xlsx')
final_df

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [14]:
pd.read_excel(r'C:/Users/pbann/Downloads/archive/Data_Train.xlsx')

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [12]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\pbann\anaconda3\lib\site-packages (2.0.1)

In [217]:
final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year']=final_df['Date_of_Journey'].str.split('/').str[2]

In [218]:
final_df['Date']=final_df['Date'].astype(int)
final_df['Month']=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [219]:
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [220]:
final_df['Arrival_Time'].str.split(' ')

0        [01:10, 22, Mar]
1                 [13:15]
2        [04:25, 10, Jun]
3                 [23:30]
4                 [21:35]
               ...
10678             [22:25]
10679             [23:20]
10680             [11:20]
10681             [14:10]
10682             [19:15]
Name: Arrival_Time, Length: 10683, dtype: object

In [221]:
final_df['Arrival_Time']=final_df['Arrival_Time'].str.split(' ').str[0]

In [222]:
final_df['Arrival_hour']=final_df['Arrival_Time'].str.split(':').str[0]
final_df['Arrival_min']=final_df['Arrival_Time'].str.split(':').str[1]

In [223]:
final_df['Arrival_hour']=final_df['Arrival_hour'].astype(int)
final_df['Arrival_min']=final_df['Arrival_min'].astype(int)

In [224]:
final_df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4,2019,22,25
10679,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4,2019,23,20
10680,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27,4,2019,11,20
10681,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1,3,2019,14,10
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5,2019,19,15

In [225]:
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [226]:
final_df['Dep_Time']=final_df['Dep_Time'].str.split(' ').str[0]
final_df['Dep_hour']=final_df['Dep_Time'].str.split(':').str[0]
final_df['Dep_min']=final_df['Dep_Time'].str.split(':').str[1]
final_df['Dep_hour']=final_df['Dep_hour'].astype(int)
final_df['Dep_min']=final_df['Dep_min'].astype(int)
final_df.drop('Dep_Time',axis=1,inplace=True)

In [227]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [228]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,np.nan:1})

In [229]:
final_df['Total_Stops'].isnull().sum()

0

In [230]:
final_df.drop('Route',axis=1,inplace=True)

In [231]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [232]:
final_df['Duration'].str.split(' ').str[1].str.split('m').str[0]

0         50
1         25
2        NaN
3         25
4         45
        ...
10678     30
10679     35
10680    NaN
10681     40
10682     20
Name: Duration, Length: 10683, dtype: object

In [233]:
final_df.drop(6474,axis=0,inplace=True)   # removed as duration shows 5mins so wrong data
final_df.drop(2660,axis=0,inplace=True)

In [234]:
final_df['duration_hour']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [235]:
final_df['duration_hour']=final_df['duration_hour'].astype('int')

In [236]:
final_df['duration_min']=final_df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [237]:
final_df['duration_min'].unique()

array(['50', '25', nan, '45', '30', '5', '15', '35', '10', '20', '55',
       '40'], dtype=object)

In [238]:
final_df['duration_min']=final_df['duration_min'].fillna(0)

In [240]:
final_df['duration_min'].unique()

array(['50', '25', 0, '45', '30', '5', '15', '35', '10', '20', '55', '40'],
      dtype=object)

In [241]:
print(final_df['duration_min'])

0        50
1        25
2         0
3        25
4        45
         ..
10678    30
10679    35
10680     0
10681    40
10682    20
Name: duration_min, Length: 10681, dtype: object

In [242]:
final_df['duration_min'].isnull().sum()

0

In [243]:
final_df['duration_min']=final_df['duration_min'].astype('int')

In [244]:
final_df.drop('Duration',axis=1,inplace=True)

In [245]:
final_df

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,duration_hour,duration_min
0,IndiGo,Banglore,New Delhi,0,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,2,No info,7662,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,2,No info,13882,9,6,2019,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,1,No info,6218,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,1,No info,13302,1,3,2019,21,35,16,50,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,0,No info,4107,9,4,2019,22,25,19,55,2,30
10679,Air India,Kolkata,Banglore,0,No info,4145,27,4,2019,23,20,20,45,2,35
10680,Jet Airways,Banglore,Delhi,0,No info,7229,27,4,2019,11,20,8,20,3,0
10681,Vistara,Banglore,New Delhi,0,No info,12648,1,3,2019,14,10,11,30,2,40
10682,Air India,Delhi,Cochin,2,No info,11753,9,5,2019,19,15,10,55,8,20

In [246]:
final_df.isnull().sum()

Airline            0
Source             0
Destination        0
Total_Stops        0
Additional_Info    0
Price              0
Date               0
Month              0
Year               0
Arrival_hour       0
Arrival_min        0
Dep_hour           0
Dep_min            0
duration_hour      0
duration_min       0
dtype: int64

In [247]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
final_df['Airline']=ohe.fit_transform(final_df['Airline'])
final_df['Source']=ohe.fit_transform(final_df['Source'])
final_df['Destination']=ohe.fit_transform(final_df['Destination'])
final_df['Additional_Info']=ohe.fit_transform(final_df['Additional_Info'])

ValueError: Expected 2D array, got 1D array instead:
array=['IndiGo' 'Air India' 'Jet Airways' ... 'Jet Airways' 'Vistara'
 'Air India'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [254]:
final_df=pd.get_dummies(final_df,columns=['Airline','Source','Destination','Additional_Info'],drop_first=True)

In [255]:
final_df

,Total_Stops,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,duration_hour,duration_min,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,0,3897,24,3,2019,1,10,22,20,2,50,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1,2,7662,1,5,2019,13,15,5,50,7,25,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,2,13882,9,6,2019,4,25,9,25,19,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
3,1,6218,12,5,2019,23,30,18,5,5,25,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,1,13302,1,3,2019,21,35,16,50,4,45,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,4107,9,4,2019,22,25,19,55,2,30,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
10679,0,4145,27,4,2019,23,20,20,45,2,35,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
10680,0,7229,27,4,2019,11,20,8,20,3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
10681,0,12648,1,3,2019,14,10,11,30,2,40,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
10682,2,11753,9,5,2019,19,15,10,55,8,20,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0

In [285]:
final_df.to_excel('flight_fare')

ValueError: No engine for filetype: ''

In [256]:

X = final_df.drop(columns='Price',axis=1)
y=final_df['Price']

In [257]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [258]:
ordered_rank_features=SelectKBest(score_func=chi2,k=14)
ordered_feature=ordered_rank_features.fit(X,y)

In [259]:
dfscores=pd.DataFrame(ordered_feature.scores_,columns=['Score'])
dfcolumns=pd.DataFrame(X.columns)

In [260]:
features_rank = pd.concat([dfcolumns,dfscores],axis=1)

In [261]:
features_rank.columns=['Features','Score']
features_rank

                                        Features         Score
0                                    Total_Stops  5.778762e+03
1                                           Date  2.259135e+04
2                                          Month  2.436581e+03
3                                           Year  3.736042e-23
4                                   Arrival_hour  1.896085e+04
5                                    Arrival_min  5.041940e+04
6                                       Dep_hour  1.105685e+04
7                                        Dep_min  6.840384e+04
8                                  duration_hour  5.881750e+04
9                                   duration_min  4.445022e+04
10                             Airline_Air India  8.670159e+03
11                                 Airline_GoAir  9.369256e+03
12                                Airline_IndiGo  7.888419e+03
13                           Airline_Jet Airways  6.739046e+03
14                  Airline_Jet Airways Business  1.067500e+04
15                     Airline_Multiple carriers  9.286573e+03
16     Airline_Multiple carriers Premium economy  1.066800e+04
17                              Airline_SpiceJet  8.664680e+03
18                                Airline_Trujet  1.068000e+04
19                               Airline_Vistara  1.006487e+04
20               Airline_Vistara Premium economy  1.067800e+04
21                                Source_Chennai  1.007599e+04
22                                  Source_Delhi  6.021007e+03
23                                Source_Kolkata  7.631777e+03
24                                 Source_Mumbai  9.779283e+03
25                            Destination_Cochin  6.021007e+03
26                             Destination_Delhi  8.984484e+03
27                         Destination_Hyderabad  9.779283e+03
28                           Destination_Kolkata  1.007599e+04
29                         Destination_New Delhi  9.048453e+03
30               Additional_Info_1 Short layover  1.068000e+04
31                Additional_Info_2 Long layover  1.068000e+04
32                Additional_Info_Business class  1.067700e+04
33               Additional_Info_Change airports  9.911071e+03
34   Additional_Info_In-flight meal not included  8.345093e+03
35                       Additional_Info_No Info  1.067800e+04
36  Additional_Info_No check-in baggage included  9.965087e+03
37                       Additional_Info_No info  2.225409e+03
38                Additional_Info_Red-eye flight  1.068000e+04

In [262]:
features_rank.nlargest(15,'Score')

                           Features         Score
7                           Dep_min  68403.844291
8                     duration_hour  58817.495398
5                       Arrival_min  50419.403909
9                      duration_min  44450.216432
1                              Date  22591.347426
4                      Arrival_hour  18960.847741
6                          Dep_hour  11056.845283
30  Additional_Info_1 Short layover  10680.000000
31   Additional_Info_2 Long layover  10680.000000
38   Additional_Info_Red-eye flight  10680.000000
18                   Airline_Trujet  10680.000000
20  Airline_Vistara Premium economy  10678.000000
35          Additional_Info_No Info  10678.000000
32   Additional_Info_Business class  10677.000000
14     Airline_Jet Airways Business  10675.000000

In [263]:
from sklearn.feature_selection import mutual_info_classif

In [264]:
mutual_info_classif(X,y)

KeyboardInterrupt:

In [ ]:
imp = pd.DataFrame(mutual_info_classif(X,y),index=X.columns)
imp

In [265]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=123)

In [270]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
def predict(ml_model):
    print('Model is: {}'.format(ml_model))
    model= ml_model.fit(X_train,y_train)
    print("Training score: {}".format(model.score(X_train,y_train)))
    predictions = model.predict(X_test)
    print("Predictions are: {}".format(predictions))
    print('\n')
    r2score=r2_score(y_test,predictions) 
    print("r2 score is: {}".format(r2score))
          
    print('MAE:{}'.format(mean_absolute_error(y_test,predictions)))
    print('MSE:{}'.format(mean_squared_error(y_test,predictions)))
    print('RMSE:{}'.format(np.sqrt(mean_squared_error(y_test,predictions))))

In [271]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor,RandomForestRegressor

In [272]:
predict(RandomForestRegressor())

Model is: RandomForestRegressor()
Training score: 0.9819514453530123
Predictions are: [ 4174.          3918.71        5277.         ... 10411.1
  1979.68       15313.88333333]


r2 score is: 0.9162391259212638
MAE:636.2734847880503
MSE:1594172.51716881
RMSE:1262.6054479404127

In [273]:
predict(RandomForestRegressor())

Model is: RandomForestRegressor()
Training score: 0.9807745330650924
Predictions are: [ 4180.3   3959.1   5277.   ... 10346.    1983.88 14902.36]


r2 score is: 0.9164961892059659
MAE:628.8622902728738
MSE:1589279.979595002
RMSE:1260.6664823001372

In [275]:
predict(KNeighborsRegressor())

Model is: KNeighborsRegressor()
Training score: 0.7412611562465443
Predictions are: [ 4541.6  4943.   5277.  ... 14051.6  2069.8 14485.2]


r2 score is: 0.619167494648236
MAE:1723.0704726251756
MSE:7248165.928947122
RMSE:2692.241803580637

In [276]:
predict(DecisionTreeRegressor())

Model is: DecisionTreeRegressor()
Training score: 0.9961767029094056
Predictions are: [ 4174.  3419.  5277. ... 10262.  1965. 19681.]


r2 score is: 0.8160281819644036
MAE:735.7174387771018
MSE:3501429.748336193
RMSE:1871.2107706873092

In [277]:
from sklearn.svm import SVR
predict(SVR())

Model is: SVR()
Training score: -0.02591186748331098
Predictions are: [8372.10994299 8371.73313934 8372.18536521 ... 8372.79110771 8371.90854915
 8372.91470524]


r2 score is: -0.016306344703293396
MAE:3518.9918767134877
MSE:19342773.83766679
RMSE:4398.042045918478

In [278]:
predict(GradientBoostingRegressor())

Model is: GradientBoostingRegressor()
Training score: 0.8295196068561869
Predictions are: [ 3920.22720379  4201.93685816  4537.48820053 ... 11094.49746434
  2120.12819149 10831.81158524]


r2 score is: 0.8234714969396685
MAE:1253.3307120967913
MSE:3359765.4175766534
RMSE:1832.966289263568

In [279]:
from sklearn.model_selection import RandomizedSearchCV
random_grid = {
    'n_estimators' : [100, 120, 150, 180, 200,220],
    'max_features':['auto','sqrt'],
    'max_depth':[5,10,15,20],
    }

In [280]:
rf=RandomForestRegressor()
rf_random=RandomizedSearchCV(estimator=rf,param_distributions=random_grid,cv=3,verbose=2,n_jobs=-1,)

rf_random.fit(X_train,y_train)

# best parameter
rf_random.best_params_

Fitting 3 folds for each of 10 candidates, totalling 30 fits

C:\Users\pbann\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:416: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

{'n_estimators': 180, 'max_features': 'auto', 'max_depth': 15}

In [281]:
# best parameter
rf_random.best_params_

{'n_estimators': 180, 'max_features': 'auto', 'max_depth': 15}

In [282]:
#predicting the values
prediction = rf_random.predict(X_test)

In [283]:
r2_score(y_test,prediction)

0.9175535442274007